@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Inndalsveien 28<br />
    5063 Bergen<br />
    <abbr title="Landline phone number">Tlf:</abbr>
    55565758
</address>

<address>
    <strong>Costumer Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>